[submodule "src/submodule/github1s"]
	path = src/submodule/github1s
	url = https://github.com/Yuanbaby0077/github1s.git
[submodule "src/submodule/testXXX"]
	path = src/submodule/testXXX
	url = https://github.com/Yuanbaby0077/testXXX.git
